/captchaModel/captcha_datasets
/captchaModel/models/captcha_grupo3_v5_progressive.keras
/captchaModel/models/captcha_grupo3_v4_progressive.keras
/captchaModel/models/captcha_grupo2_v3_progressive.keras
/captchaModel/models/captcha_grupo2_v2_progressive.keras
/captchaModel/models/captcha_grupo3_v3_progressive.keras
/captchaModel/models/captcha_grupo3_v3_complete.keras
/captchaModel/models/captcha_grupo3_v3_ultra.keras
/captchaModel/models/captcha_grupo3_v3_final.keras
/captchaModel/models/captcha_grupo3_v3_same_arch.keras
/captchaModel/models/captcha_grupo3_v3_fixed.keras
/captchaModel/models/captcha_grupo3_v3.keras
/captchaModel/models/captcha_grupo3_v2.keras
/captchaModel/models/captcha_grupo2_v2.keras
/captchaModel/models/captcha_grupo1_v2.keras
.env
/balanceScripts/captchas
/balanceScripts/logs
/balanceScripts/screenshots
credentials